@model List<Perfil>

<h1>Mi Información</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Teléfono</th>
    </tr>
    @foreach (var perfil in Model)
    {
            <tr>
                <td>@perfil.Id</td>
                <td>@perfil.Nombres</td>
                <td>@perfil.Apellidos</td>
                <td>@perfil.Telefono</td>
            </tr>
    }
</table>