@{
}

<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    
    <script src="~/js/color-modes.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Soy yo">
    <meta name="author" content="Eduardo Enrique Santoyo Aguilera">
    <meta name="generator" content="Yo merengues">
    <title>Mi Portafolio</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/product/">
    <link href="~/css/css2.css" rel="stylesheet" />
    
    <link href="~/css/css3.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />

    <!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/5.3/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/5.3/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/5.3/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/5.3/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/5.3/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">
<link rel="icon" href="/docs/5.3/assets/img/favicons/favicon.ico">
<meta name="theme-color" content="#712cf9">


    
    <!-- Custom styles for this template -->
    <link href="~/css/product.css" rel="stylesheet" />
  </head>
  <body>

    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
      <symbol id="check2" viewBox="0 0 16 16">
        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
      </symbol>
      <symbol id="circle-half" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
      </symbol>
      <symbol id="moon-stars-fill" viewBox="0 0 16 16">
        <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
        <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>
      </symbol>
      <symbol id="sun-fill" viewBox="0 0 16 16">
        <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
      </symbol>
    </svg>

    <div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
      <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center"
              id="bd-theme"
              type="button"
              aria-expanded="false"
              data-bs-toggle="dropdown"
              aria-label="Toggle theme (auto)">
        <svg class="bi my-1 theme-icon-active" width="1em" height="1em"><use href="#circle-half"></use></svg>
        <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
      </button>
      <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
        <li>
          <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
            <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em"><use href="#sun-fill"></use></svg>
            Light
            <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
          </button>
        </li>
        <li>
          <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
            <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em"><use href="#moon-stars-fill"></use></svg>
            Dark
            <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
          </button>
        </li>
        <li>
          <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
            <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em"><use href="#circle-half"></use></svg>
            Auto
            <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
          </button>
        </li>
      </ul>
    </div>

    
    <!--##############################################################################-->
<main>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
      <h1 class="display-3 fw-bold">Ingeniero en Software</h1>
      <h3 class="fw-normal text-muted mb-3">Eduardo Santoyo</h3>
      <div class="d-flex gap-3 justify-content-center lead fw-normal">
        <a class="icon-link" asp-area="" asp-controller="Perfil" asp-action="Index">
          Mas sobre mi
          <svg class="bi"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
    </div>
    
  </div>

        <h2 class="simon">ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤProyectos Hechos</h2>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
            <!------------------------------------------------------------------------------------>
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Calculadora</h2>
        <p class="lead">Hecha con Xamarin Forms, tiene operaciones Basicas.</p>
      </div>
            <img src="~/img/CalculadoraX.png" alt="CalculadoraXamarin" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
    </div>
            <!------------------------------------------------------------------------------------>
            <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Gestión de Cafetería</h2>
        <p class="lead">Hecha con MVC, Gestiona el inventario, productos y ventas de la cafetería.</p>
      </div>
            <img src="~/img/Cafeteria.png" alt="Cafeteria" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
    </div>
  </div>
            <!------------------------------------------------------------------------------------>
        <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Calcular IMC</h2>
        <p class="lead">Hecha desde Xamarin Forms, dice si tienes obesidad o no.</p>
      </div>
                <img src="~/img/Imc.png" alt="IMC" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
    </div>
            <!------------------------------------------------------------------------------------>
            <div class="text-bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Es Par o Impar</h2>
        <p class="lead">Hecha en bloques con Mit App Inventor.</p>
      </div>
                <img src="~/img/Parimpar.png" alt="ParImpar" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
    </div>
  </div>
            <!------------------------------------------------------------------------------------>
        <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Calculadora Basica</h2>
        <p class="lead">Hecha en bloques con Mit App Inventor.</p>
      </div>
                <img src="~/img/CalculadoraB.png" alt="CalculadoraBloques" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
    </div>
            <!------------------------------------------------------------------------------------>
            <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Inicio de Sesion en Pemex</h2>
        <p class="lead">Esta pagina fue creada desde Apache NetBeans con Java.</p>
      </div>
                <img src="~/img/Pemex.png" alt="Pemex" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
    </div>
  </div>
            <!------------------------------------------------------------------------------------>
        <div class="row">
            <div class="col-6 col-md">
                <h5>Cualidades:</h5>
                <ul class="list-unstyled text-small">
                    <li><p>Conocimiento básico de varios lenguajes.</p></li>
                    <li><p>Aprender y adaptarse rápidamente.</p></li>
                    <li><p>Trabajo en equipo.</p></li>
                    <li><p>Comunicación efectiva.</p></li>
                    <li><p>Mentalidad de aprendizaje continuo.</p></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Lenguajes Aprendidos:</h5>
                <ul class="list-unstyled text-small">
                    <li><p>Python Basico.</p></li>
                    <li><p>C# Intermedio.</p></li>
                    <li><p>C++ Basico.</p></li>
                    <li><p>HTML Avanzado.</p></li>
                    <li><p>CSS Basico.</p></li>
                    <li><p>PHP Intermedio.</p></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>ㅤ</h5>
                <ul class="list-unstyled text-small">
                    <li><p>javaScript Basico.</p></li>
                    <li><p>MySql Basico.</p></li>
                    <li><p>MS Sql Server Basico.</p></li>
                    <li><p>Java Basico.</p></li>
                    <li><p>Pseudocodigo.</p></li>
                    <li><p>Por bloques Intermedio.</p></li>
                </ul>
            </div>
        </div>
</main>
    <!--##############################################################################-->
<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
      <small class="d-block mb-3 text-body-secondary">&copy; 2004–2023</small>
    </div>
    <div class="col-6 col-md">
      <h5>Otras cosas</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary text-decoration-none" href="https://la.sonychannel.com/series/shark-tank-mexico">Chamba</a></li>
        <li><a class="link-secondary text-decoration-none" href="http://www.uts.edu.mx/">Escuela</a></li>
        <li><a class="link-secondary text-decoration-none" href="https://www.sonora.gob.mx/">Gobierno</a></li>
        <li><a class="link-secondary text-decoration-none" href="https://steamcommunity.com/profiles/76561198382438066/">Steam</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Buscame</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary text-decoration-none" href="https://www.facebook.com/eduar.santoyo">Facebook</a></li>
        <li><a class="link-secondary text-decoration-none" href="https://www.instagram.com/noah05241/">Instagram</a></li>
        <li><a class="link-secondary text-decoration-none" href="https://twitter.com/Noah054">Twitter</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
        <br />
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary text-decoration-none" href="https://wa.me/6442558595?text=Hola!,%20requiero%20de%20tu%20servicio">Whatsapp</a></li>
        <li><a class="link-secondary text-decoration-none" href="https://www.facebook.com/eduar.santoyo">Facebook</a></li>
        <li><a class="link-secondary text-decoration-none" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
      </ul>
    </div>
  </div>
</footer>
    <script src="https://getbootstrap.com/docs/5.3/dist/js/bootstrap.bundle.min.js#:~:text=/*!%0A%20%20*%20Bootstrap%20v5.3.2%20(https,min.js.map" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    </body>
</html>